/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-left: 3%;
    padding-right: 3%;
}
nav {
    display: none;
}
.contener_column {
    display: none;
}
.contener_nav_tel {
    display: flex;
    justify-content: space-between;
}


.contener_img_article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image_principale {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contener_article {
    display: flex;
    width: 90%;
    margin: auto;
}

.contener_list {
    display: flex;
    justify-content: center;
}

.footer_contact {
    display: none;
}
.link_RS {
    display: flex;
    justify-content: space-around;
}
.link_RS_contact {
    display:none;
}
/* =======================================================================
                            RESPONSIVE TABLETTE
=========================================================================*/

@media screen and (min-width: 720px) {
    /*  ELEMENTS HIDDEN */
    .contener_nav_tel{
        display: none;
    }
    .contener_img_article {
        display: none;
    }
    .image_principale {
        display: none;
    }
    .contener_article {
        display: none;
    }
    .contener_list {
        display: none;
    }
    .link_RS {
        display: none;
    }

    /* NO HIDDEN ELEMENTS */
    body {
        height: 100vh;
        padding:0;
    }
    nav {
        display: flex;
        height: 15vh;
    }
    .contener_column {
        display: flex;
        height: 85vh;
    }
    ul li {
        display: inline-block;
        text-indent: 2em;
        font-size: 1.4em;
    }
    .contener_class {
        display: flex;
        align-items: baseline;
        margin: auto;
    }
    .yellow_column {

        width:20%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid black;
    }
    .orange_column {
        width:20%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid black;


    }
    .red_column {
        width:20%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid black;


    }
    .green_column {
        width: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid black;

    }
    .blue_column {
        width: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid black;

    }
   article {
        text-align: center;
   }
}


/* ==========================
        PAGE CONTACT
============================*/

form {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
form div + div {
    margin-top: 1em;
  }
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5em;
}
  
.button {
    padding-left: 90px; 
}
  
  button {
    margin-left: .5em;
}

h3 {
    text-align : center;
}

ul li {
    list-style-type: none;
}

.avatar {
    background-color: orange;
    display: flex;
    justify-content: center;
}

.avatar img {
    max-width: 340px;
    max-height: 360px;
}

.contener_apropos {
    display: block;
    justify-content: center;
    flex-direction: column;
}
.photo {
    display: flex;
    justify-content: center;
}
h3 {
    margin: 0;
}

ul h3 {
    background-color:lightslategray;
}
.color {
    background-color: lightseagreen;
}
@media screen and (min-width: 720px) {
    .contener_form {
        margin-top: 5em;
    }
    .link_RS_contact {
        display: flex;
        justify-content: space-around;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
